*{
  margin: 0;
  padding: 0;
  outline: none;
  border: none;
  text-decoration: none;
  box-sizing: border-box;
  font-family: sans-serif;
}

body{
  background-color: #dfe9f5;
}

nav{
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  height: 100%;
  background-color: #fff;
  width: 90px;
  overflow: hidden;
  transition: width 1s linear;
  box-shadow: 0 20px 35px rgba(0, 0, 0, 0.1);
}

.logo{
  display: flex;
  align-items: center;
  transition: all 0.5s ease;
  margin: 15px 0 0 15px;
}

.logo img{
  width: 45px;
  height: 45px;
  border-radius: 50%;
}

.logo span{
  font-weight: bold;
  padding-left: 20px;
  font-size: 18px;
  text-transform: uppercase;
  text-align: center;
}

a{
  position: relative;
  color: rgb(85, 83, 83);
  font-size: 14px;
  display: table;
  padding: 10px;
  width: 300px;
}

.fas{
  position: relative;
  top: 14px;
  width: 70px;
  height: 40px;
  font-size: 20px;
  text-align: center;
}

.nav-item{
  position: relative;
  top: 12px;
  margin-left: 10px;
}

a:hover{
  background: #eee;
}

nav:hover{
  width: 280px;
  transform: all 0.5s linear;
}

.log-out{
  position: absolute;
  bottom: 0;
}


b{
  color: rgb(101, 101, 101);
  font-size: 40px;
}

b:hover{
  color: blue;
}